# CI
build.env

# Environment variables, never commit this file
.env
.node-persist

# VSCode & Webstorm history directories
.history
.idea
.vscode

# Mac OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Git
.git

# node.js
.cache
.yarn
package-lock.json
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Test result files
artifacts
test-result-junit.xml
test-result-xunit.xml

# Docs
doc

# Code coverage and quality checks
coverage
src/coverage
.scannerwork
.nyc_output

# Build directory
/public

# deployment-specific configs
now.json
