/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

.font-firacode {
  font-family: 'Fira Code', monospace;
}

html,
body,
div,
span,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
main,
nav,
ins {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  min-width: 0;
}

body {
  background: #ffffff;
  color: #000000;
}

p {
  margin-bottom: 0.7rem;
}

.text-vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.rainbow-button {
  background: #ffffff;
}

.rainbow-button:hover {
  background: linear-gradient(
    90deg,
    #b8c2cc,
    #e3342f,
    #f6993f,
    #ffed4a,
    #38c172,
    #4dc0b5,
    #3490dc,
    #6574cd,
    #9561e2,
    #f66d9b
  );
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
    color: #000000;
  }
  .comment-section .comment-container {
    color: #ffffff;
  }

  .comment-form-section .comment-form-container {
    color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
    color: #ffffff;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p {
    color: #ffffff;
  }
  ul li,
  ol li {
    color: #ffffff;
  }
}
