/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

.font-firacode {
    font-family: 'Fira Code', monospace;
}

body { background: #ffffff; color: #000000; }

p {
    margin-bottom: 0.7rem;
}

.text-vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

@media (prefers-color-scheme: light) {
    body { background: #ffffff; color: #000000; }
}

@media (prefers-color-scheme: dark) {
    body { background: #000000; color: #ffffff; }
    h1, h2, h3, h4, h5, h6, a, p { color: #ffffff; }
    ul li {
        color: #ffffff;
    }
}
